html {
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: left;
}

.header img {
    display: inline-block;
    float: right;
    margin-right: 1vw;
    width: 4vh;
    height: 4vh;
}

.header p {
    display: inline-block;
    float: right;
    margin-right: 1vw;
    font-size: 1vh;
    padding-top: 1.4vh;
    color: #FFFFFF;
}

.header h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    height: 4vh;
    font-size: 2vh;
    text-align: left;
    text-decoration: none;
    background-color: #000c;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: #FFFFFF;
}

.header h3 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-decoration: none;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: #FFFFFF;
}

.nav-links {
    flex-direction: column;
    list-style: none;
}

.nav-link-item {
    padding-bottom: 10px;
}

.nav-link-text {
    transition-duration: 0.5s;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100vw;
    height: auto;
    background-color: #E6E6E6;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 2rem;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

.nav-link-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    height: auto;
}


@media (any-hover: hover) {
    .nav-link-text:hover {
        opacity: 0.6;
    }

    .header img:hover {
        opacity: 0.6;
    }

    .header h3:hover {
        opacity: 0.6;
        color: #000000;
    }
}

@media (any-hover: none) {
    .nav-link-text:active {
        opacity: 0.6;
    }

    .header img:active {
        opacity: 0.6;
    }

    .header h3:active {
        opacity: 0.6;
        color: #000000;
    }
}
